[class*="col-"] {
width: 100%;
}
body {
  background-color: white;
}
@media only screen and (min-width: 768px) {
body {
    background-color: grey;
  }
[class*="col-"] {
float: left;
padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
}
header {
font-family: New Times Roman, serif;
color: black;
width: auto;
height: 200px;
background-image: url(fotorotterdam.jpg);
background-size: 25%;
}
.feiten ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.feiten li {
  padding: 5px;
  margin-bottom: 10px;
  background-color: green;
}
#brug {
  background-color: #90EE90;
}
img {
  float: right;
  width: 20%;
  height: 85px;
  margin-right: 2px;
  border-radius: 2px;
  border: 2px black;
  padding: 3px;
}
#voetbal {
  background-color: #00BFFF;
}
img {
  float: right;
  width: 10%;
  height: 50px;
  margin-right: 2px;
  border-radius: 2px;
  border: 2px black;
  padding: 3px;
}
